<html>
    <body>
        <h2>
           HTML form
        </h2>
       
        <form action="/submit" method="post"> <!-- /submit is the url written ain app3.py file -->>
            <label for ="Science">Science :</label><br>
            <input type="text" id="science" name ="science" value="0"><br><br>
            <label for ="Math">Math :</label><br>
            <input type="text" id="math" name ="math" value="0"><br><br>
            <label for ="datascience">Data Science :</label><br>
            <input type="text" id="datascience" name ="datascience" value="0"><br><br>
            <input type="submit"  value="Submit">
        </form>
        
        <p> If u click the "Submit"  button , the form-data will be sent to a page </p>


    </body>
</html>